body {
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    visibility: hidden;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

}


.button:focus {
    outline: none;
}


.button {
    background-image: linear-gradient(to right, #0033ec, #3944bd, #616da2, #c0c0c0);
}

.right {
    box-shadow: 0 4px 15px 0 rgba(53, 51, 51, 0.75);
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav-link.active::after {
    width: 100%;
}

.nav-link:hover::after {
    width: 100%;
}

.slider {
    position: relative;
    margin: 2rem;
}

.slider .owl-items.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
}

.slider-card {
    transform: scale(0.9);
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
}

.hero-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    width: 100%;
}

.selected {
    color: skyblue;
}

select {
    background-color: #f0f0f0;
    border-radius: 20px;
}

select:focus {
    border-color: #2a6dc9;
}

.content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.button.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}